## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vs/

## NuGet
packages/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/

## User-specific
*.rsuser
*.userprefs

## IDE
.idea/
*.sln.docstates

## OS
Thumbs.db
.DS_Store
desktop.ini
